altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
astroid==2.4.1
auto-py-to-exe==2.9.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.4
colorama==0.4.3
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
Eel==0.12.4
fake-proxy==0.1.1
fake-useragent==0.1.11
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==2.10
importlib-metadata==4.8.1
isort==4.3.21
joblib==1.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.3
matplotlib==3.4.2
mccabe==0.6.1
mpmath==1.2.1
numpy==1.20.3
opencv-python==4.5.2.54
pandas==1.2.4
parse==1.19.0
pefile==2021.5.24
Pillow==8.2.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pyee==8.2.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyppeteer==0.2.6
pyquery==1.4.3
pySmartDL==1.3.4
PySocks==1.7.1
pyTelegramBotAPI==2.2.3
python-dateutil==2.8.1
python-telegram-bot==13.7
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.24.0
requests-html==0.10.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
selenium==3.141.0
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
speedtest-cli==2.1.3
sympy==1.8
Telethon==1.23.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.0
tornado==6.1
tqdm==4.62.2
tzdata==2021.1
tzlocal==3.0
urllib3==1.25.11
w3lib==1.22.0
webdriver-manager==3.4.2
websockets==9.1
whichcraft==0.6.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
